# Ignore all but the target theme folder and a few other files.
*
!.vscode/
!.vscode/**
!.dockerignore
!.gitignore
!docker-compose.yml
!Dockerfile
!favicon.ico
!logo.png
!my_nginx.conf
!README.md
!uploads.ini
!xdebug.ini
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/locallens-wp-theme/
!wp-content/themes/locallens-wp-theme/**

# Ignore Node dependency directories.
**/node_modules/

# Ignore log files and databases.
**/*.log
**/*.sql
**/*.sqlite

# Ignore other misc. junk files.
**/.DS_Store
**/Desktop.ini
**/Thumbs.db
**/.idea

# Ignore *.exe files (WPE git push doesn't like them)
**/*.exe
